@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
.home-title {
    font-family: 'Rock Salt', Roboto, sans-serif;
    font-size: 3.3em;
    --heading-font: "Rock Salt", Helvetica, sans-serif;
    --paragraph-font: Roboto, Helvetica, sans-serif;
}
/* Header Wireframe Grid Parent, index.html:<header> will be the parent or grid container. It has two children: the <a> that surrounds our logo and the nav element. They are the only grid items we will be able to place in our grid. It will be a simple two-column, one-row grid. */ 
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#a77c5c;
}
/* Header Wireframe Grid Child 1 */ 
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Header Wireframe Grid Child 2 */ 
nav {
    display: flex;
    justify-content:space-around;
}
/* Header Wireframe Grid Links */ 
nav a {
    text-decoration: line;
    color: #fdfbfb;
    text-align: center;
    padding: 30px;
    max-width: 250px;
    font-size: 1.1em;
}
/* Header Wireframe Grid Dry-Oar-Logo */ 
.logo {
    width: 80px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.book {
    font-size: 1.6em;
}
.join {
    font-size: 1.5em;
}
.msg {
    font-size: 1.1em; 
    line-height: 1.5em; 
    padding: 35px;
}
.msg p {
    padding-bottom: 15px;
}
#hero-img, h1 {
    width: 100%;
}
.home-title {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

.button-box {
    text-align: center;
    font-size: 1.8em; 
}
.book {
    padding: 1px;
    margin: auto;
}
main section img {
    text-align: center;
    box-sizing: border-box;
}
section {
    text-align: Center;
}
#background {
    height: 725px;
}
body {
    background-color: #BDDCAD; 
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Rock Salt', Roboto, sans-serif; 
    color: #280684;
    margin: 0;
}
nav a:hover, .book, .join,.book:hover, .join:hover, footer a {
    background-color: #f0f1e7;
    color: #0a0b09;
    text-decoration: none;
}
.book, .join {
    background-color: #05dae9; 
    padding:15px 30px;
    margin: 30px;
}
.book:hover,.join:hover {
    background-color: #f1f1eb;
}
#background,.msg,footer {
    background-color: #c3f1f1;
}
.mountains {
    margin-top: 200px;
    border: 5px solid #5317d3;
    border-radius: 15px;
}
.msg,footer {
    margin-top: 50px;
    border-radius: 15px;
}
.icon {
    width: 80px; padding-top: 10px;
}
.book, .join {
    background-color: #d5994b;
    color: black;
    text-decoration: none;
    font-size: 28px;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
}
.card-img {
    border: 4px solid #250fce;
    margin-top: 50px;
    border-radius: 15px;
}
main section img {
    box-sizing: border-box;
}
footer p {
    font-size: 1.1em;
}  
footer p a:hover {
    text-decoration: underline;
} 
footer {
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img  {
    padding-top: 10px;
    margin-top: 200px;
}