 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');
.home-title {
    font-family: 'Rock Salt', Roboto, sans-serif;
    font-size: 1.8em;
    --heading-font: "Rock Salt", Helvetica, sans-serif;
    --paragraph-font: Roboto, Helvetica, sans-serif;
}
/* Header */ 
header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color:#0a72f2;
    font-weight: bolder;
    font-size: 1.3em
}
/* Header Wireframe Grid Child 1 */
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Header Wireframe Grid Child 2 */
nav {
    display: flex;
    justify-content:space-around;
}
/* Header Wireframe Grid Links */
nav a {
    text-decoration: none;
    color: #fdfbfb;
    text-align: center;
    padding: 30px;
    max-width: 250px;
    font-size: 1em;
}
/* Body background color and text */
body {
    background-color: #BDDCAD; 
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
}
/* Main Grid and Children Class Layout */
/* Welcome */
#main-1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#welcome-logo { 
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    padding-top: 190px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 25px;
}
#welcome-message { 
    grid-column: 2 / 7;
    grid-row: 1 / 2;
    padding-right: 25px;
    padding-bottom: 25px;
}
/* News Headers */
.news-header1 {
    grid-column: 1 / 4;
    grid-row: 2 / 3; 
}
.news-header2 {
    grid-column:  4 / 7;
    grid-row: 2  / 3;
}

/* News Pictures */
.news-1-picture {
    grid-column: 1 / 2;
    grid-row:  3 / 4;
}
.news-2-picture {
    grid-column: 1 / 2;
    grid-row: 4 / 5; 
}
.news-3-picture {
    grid-column: 1 / 2;
    grid-row:  5 / 6;
}
.news-4-picture {
    grid-column: 1 / 2;
    grid-row:  6 / 7;
}
/* News Notes */
.news-1-notes {
    grid-column: 2 / 7;
    grid-row:  3 / 4;

}
.news-2-notes {  
    grid-column: 2 / 7;
    grid-row:  4 / 5;

}
.news-3-notes {
    grid-column: 2 / 7;
    grid-row:  5 / 6;

}
.news-4-notes {
    grid-column: 2 / 7;
    grid-row:  6 / 7;

}
/* Pictures-Class-Hover Formats */
.news-header1, .news-header2 {
background-color:#c3f1f1;
border-radius: 15px; 
border: 3px solid #f30909;
margin-bottom: 50px;
margin-top: 20px; 
height: 150px;
padding-top: 1px;
padding-bottom: 1px;
box-shadow: 5px 5px 10px #e40d0d;
border: 4px solid #250fce;
margin-top: 10px;
border-radius: 15px;
}
.news-p1-pic, .news-p2-pic, .news-p3-pic,.familylogo {
background-color: #abd9e5;
margin-bottom: 5px;
margin-top: 5px;
margin-left: 40px;
height: 450px;
width: 500px;
box-shadow: 5px 5px 10px #e40d0d;
border: 4px solid #250fce;
margin-top: 10px;
border-radius: 15px;
}
.news-p1-pic:hover {
    opacity: 1;
    transform: scale(1.4);
}
.news-p2-pic:hover {
    opacity: 1;
    transform: scale(2);
}
.news-p3-pic:hover {
    opacity: 1;
    transform: scale(2);
}
.familylogo:hover {
    opacity: .5;
    transform: scale(1.4);
}
/* Headings and Fonts */
h1 {
    font-family: 'Rock Salt', Roboto, sans-serif; 
    color: #3a0cbb;
    padding: 1px 1px;
    margin-top: 0px; 
    margin-bottom: 0px; 
    display: flex;
    justify-content: space-around;
    font-size: 2.5em;
    font-weight: bolder;
}
h2 {
    font-family: 'Rock Salt', Roboto, sans-serif; 
    color: #981a1a;
    padding: 1px 1px;
    margin-top: 10px; 
    margin-bottom: 10px;    
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bolder;
    } 
 h3 {
    font-family: 'Rock Salt', Roboto, sans-serif; 
    color: #3a0cbb;
    padding: 1px;
    margin-top: 10px; 
    margin-bottom: 0px; 
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    } 
h4 {
    font-family: 'Rock Salt', sans-serif; 
    color: #3a0cbb;
    padding: 1px;
    margin-top: 25px;    
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.33em;
    font-weight: bolder; 
    }     
p {
    font-family: Roboto, sans-serif; 
    color: #04000d;
    padding: 1px;
    margin-top: 10px; 
    margin-bottom: 0px;
    margin-left: 40px; 
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    font-weight: bolder;
    }
.news-1-notes, .news-2-notes, .news-3-notes, .news-4-notes {
    border-radius: 15px;
    margin-left: -50px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 1em;
    box-shadow: 5px 5px 10px #e40d0d;
    border: 4px solid #250fce;
    margin-top: 10px;
    border-radius: 15px;
    }
/* Tables */
table {
font-family: Roboto, sans-serif;
font-size: 1.2em;
font-weight: bold;
border-collapse: collapse;
width: 100%;
margin-top: 40px; 
}
      
td {
border: 2px solid #2707dd;
text-align: left;
padding: 8px;
}
th {
    border: 2px solid #dd0712;
    text-align: center;
    padding: 8px;
    }
      
tr:nth-child(odd) {
background-color: #c3f1f1;
}
/* Forms Contact Us Contactenos Aqui*/ 
#feedback {
    background-color: #ddec09;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: -100em;
    display: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}
    input, label,textarea {
    width: 60%;
    padding: 20px 30px;
    margin: 8px 100px;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
}
#msg {
    width: 95%;
    padding: 100px 10px;
    margin: 10px 10px;
    box-sizing: border-box;
    font-size: 1.4em;
    font-weight: bold;
}
button {
    width: 20%;
    padding: 20px 10px;
    margin: 20px 800px;
    box-sizing: border-box;
    font-size: 1.5em;
}
/* Footer */
footer {
    background-color: #736466;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}
footer p a:hover {
    text-decoration: underline solid rgb(230, 58, 187) 10%;
} 
footer .church  {
    padding-top: 1px;
    margin-top: 50px;
}
#background, footer {
    background-color: #c3f1f1;
}
footer {
    margin-top: 50px;
    border: 4px solid #5317d3;
    border-radius: 15px;
}
nav a:hover, footer a {
    background-color: #c3f1f1;
    color: #0a0b09;
    text-decoration: none;
}
/* Responsive Design "@media query" Media queries always need to be after all the other CSS. Don't add any CSS after the media query later either. */
@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}